/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

span, div {
  background: #FFFFFF;
}

.articles .article {
  margin: 10px;
}

.articles .article .title, .articles .article .body, .articles .article .author {
  padding: 10px 10px 0px 0px;
}
body .articles .article .body {
  padding: 0px 0px 0px 40px;
}

h1 {
  font-size: 200%;
  color: #00FFEF;
}

.articles .article .body{
  background-color: #00FF00;
}

body .articles .article .title{
  font-size: 150%;
  color: #0000FF;

}
.articles .article .author{
  font-style: italic;
  font-size: 125%;
  padding-left: 20px;
  padding-top: initial;
}

.articles .comments {
  margin: 10px;
}

.articles .comments .comment {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.articles .article .comments .author {
  font-size: 12px;
  font-weight: bold;
}

/**
 * @todo read about the `box model` for html/css
 */




/*
  00 - 0%
  FF - 100%

  0 -> F


  0 -> 1 -> 10 -> 11 -> 100 ->
  0 -> 1 -> 2 ---> 10 -> 11 -> 100
  0 -> 1 -> 2 -> 9 -> A -> B -> F -> 10 -> 19 -> 1A -> 1F -> 20 -> 2F -> 30 -> FF

  0 -> 4 -> 10 -> 14 -> 20 -> 24*/

